AddDefaultCharset UTF-8
RewriteEngine on

RewriteCond %{REQUEST_METHOD} GET 
RewriteRule ^$ findAll.php

RewriteCond %{REQUEST_METHOD} GET 
RewriteCond %{QUERY_STRING} (.*)
RewriteRule ^([0-9]+)/?$ findOne.php?%1&id=$1

RewriteCond %{REQUEST_METHOD} GET 
RewriteRule ^([0-9]+)/?$ findOne.php?id=$1


RewriteCond %{REQUEST_METHOD} POST 
RewriteRule ^$ create.php

RewriteCond %{REQUEST_METHOD} PUT
RewriteCond %{QUERY_STRING} (.*)
RewriteRule ^([0-9]+)/?$ update.php?%1&id=$1

RewriteCond %{REQUEST_METHOD} PUT
RewriteRule ^([0-9]+)/?$ update.php?id=$1

RewriteCond %{REQUEST_METHOD} DELETE 
RewriteCond %{QUERY_STRING} (.*)
RewriteRule ^([0-9]+)/?$ delete.php?%1&id=$1

RewriteCond %{REQUEST_METHOD} DELETE 
RewriteRule ^([0-9]+)/?$ delete.php?id=$1
